body {
    background-color:beige;
}

.first-right{
    margin-top: -150px;
    margin-right: 500px;
    margin-left: 200px;

    
}

.first{
    margin: 10px;
    padding: 10px;
    height: 400px; 
    
}
.Second{
    margin-left:  100px;
    
}
.Second-right{
    margin-left: 400px;
    margin-top: -200px;
}
.Efont{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.last{
    margin-left: 80px;
    margin-top: 200px;
}
.h1{
    margin-left: 100px;
    
    width: 50%;
    border: 1px solid rgb(12, 250, 190);
    
}
.Outer{
    display: flex;
}
.h2{
    width: 50%;
    border: 1px solid rgb(99, 9, 9);
}
.h3{
    width: 50%;
    border: 1px solid gray;
}
h1:hover{
    background-color: darkgray;
}